
<footer class="py-1 bg-secondary fixed-bottom rounded-top">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright Ram & Andrew &copy; friends who eat 2019</p>
    </div>
    <!-- /.container -->
  </footer>