
<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright Ram & Andrew &copy; Friends Who Eat 2019</p>
    </div>
    <!-- /.container -->
  </footer>