<div class="container">
    <header class="jumbotron my-1 text-center">
      <h1 class="display-3">Whatup, Lets Get You Fed!</h1>
      <p class="lead"> Connect with friends and share your dining experiences!</p>
    </header>
    </div>