<p id="notice"><%= notice %></p>

<h1>All Restaurants</h1>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <ul>
        <li>Name: <%= restaurant.name %></li>
        <li><%= link_to 'More options for this restaurant', restaurant %></li>
        </ul>
    <% end %>
  </tbody>
</table>