<div class="jumbotron">
  <h1 class="display-4">Welcome Friends Who Eat</h1>
  <p class="lead">Please login or create an account to continue, and lets get you fed!</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" <%= link_to 'Login', login_path %>
  <a class="btn btn-primary btn-lg" <%= link_to 'Create Account', new_user_path %>
</div>